hr {
    border: solid 2px rgb(183, 177, 177);
    margin: 0;
}
   
#nav{
    margin-left: 0;
    margin-right: 0;
    height: 50px;
} 

#val{
    margin-left: 0;
    margin-right: 0;
    
} 

#feet{
    margin-left: 0;
    margin-right: 0;  

}

#ai h2 {
    padding: 40px 0px 40px 0;
    font-size: 32px;
    text-transform: uppercase;
}

#ai mark {
    background-color: rgb(240, 242, 239);
}

#ai h2::after {
    content: "";
    display: block;
    border-top: 2px solid #000;
    width: 15%;
    position: absolute;
    margin-top: 0;
    left: 42.5%;
}

#component
   



#ib{
    padding-left: 40px;
    padding-top: 60px;
}


#footer{
    padding-top: 35px;
}

#t1{
    color: rgb(96, 96, 177)!important;
}

t3{
    padding-top: 80px;
}


h1{
    padding-left: 200px;
}

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 50px;
}

#data-area p {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;

    color: rgb(62, 62, 210);
}


.navbar {
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
   }
   
.hide {
    top: -50px;
}

